body {
	background-color: rgba(250, 203, 132, 0.6);
}

.lane {
	background-color: rgba(248, 174, 74, 0.4);
	border: 4px solid rgba(171, 99, 40, 0.6);
}

.wall {
	background-color: rgba(171, 99, 40, 0.6);
	border: 0;
}

.part {
	border: 2px solid rgba(171, 99, 40, 0.6);
}

.part.opponent {
	background-color: rgba(248, 174, 74, 0.6);
}